# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details

defaults: &defaults
  working_directory: ~/mnl-api
  docker:
    - image: circleci/python:3.6.5
      environment:
      - SECRET_KEY: circle_secret_key
      - ALLOWED_HOSTS: 172.30.0.10
      - HOST: django
      - DEBUG: True
      - POSTGRES_HOST: 127.0.0.1
      - POSTGRES_PORT: 5432
      - POSTGRES_DB: mnl_db
      - POSTGRES_USER: mnl_db_user
      - POSTGRES_PASSWORD: mnl_db_password
    - image: circleci/postgres:9.6-alpine
      environment:
      - SECRET_KEY: circle_secret_key
      - ALLOWED_HOSTS: 172.30.0.10
      - HOST: django
      - DEBUG: True
      - POSTGRES_HOST: 127.0.0.1
      - POSTGRES_PORT: 5432
      - POSTGRES_DB: mnl_db
      - POSTGRES_USER: mnl_db_user
      - POSTGRES_PASSWORD: mnl_db_password

version: 2
jobs:
  build:
    <<: *defaults

    steps:
      - checkout

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "requirements.txt" }}
          - v1-dependencies-

      - run:
          name: Install Dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
      - run:
          name: Run Tests
          command: |
            . venv/bin/activate
            python manage.py test django
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
          destination: tr1

  deploy:
    <<: *defaults

    steps:
      - checkout:
          path: ~/mnl-api/
      - run:
          name: Installing deployment dependencies
          command: |
            sudo apt-get -y -qq update
            sudo apt-get install python-pip python-dev build-essential
            sudo pip install awsebcli --upgrade
            sudo pip install awscli --upgrade
      - run:
          name: Set Environment
          command: |
            eb use mnl-api
            eb init
            eb config
      - run:
          name: Deploying
          command: eb deploy mnl-api
workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only:
                - /master/
                - /master--ci-cd/
