[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
django = "*"
django-storages = "*"
djangorestframework = "*"
gunicorn = "*"
markdown = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.8"
